<!DOCTYPE html>
<html>
<head>
  <title>Angry Monkey Lures</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="body">

  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
    fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  </script>

  <header>

    <div class="home-header">
      <%= image_tag "logo_aml_long.png", width: '700px' %>
      <div class="home-header-center">

        <div class="main-nav">
          <ul>    
            <li> <%= link_to "Home", "/" %> </li>
            <li> <%= link_to "Lures", "/" %> </li>
            <li> <%= link_to "Photos", "/photos" %> </li>
            <li> <%= link_to "Videos", "/videos" %> </li>
            <li> <%= link_to "Store", "/store" %> </li>
            <li> <%= link_to "Community", "/communities" %> </li>
            <li> <%= link_to "Our Purpose", "/about" %> </li>
          </ul>
        </div>
    
      </div>
    </div>

  </header>

  <div style="width: 800px;">
    <%= yield %>
  </div>

</body>

<div class="footer">
  <p>&copy; Copyright 2013 Angry Monkey Fishing Lures LLC.</p>
</div>

</html>
